{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "editor.formatOnSave": true
}
